{% extends 'base.html' %}

{% block content %}

<h2>API v1</h2>

<p>The docs below will help you use the API once you have repos and feature sets synced. To learn more about syncing repos and feature sets, see <a href="{% url 'how_it_works' %}">how it works</a>.</p>

<h3>The Resource</h3>

<pre>http://gitspatial.com/:user_name/:repo_name/:feature_set_name</pre>

<table class="table table-bordered table-striped table-condensed">
    <tbody>
        <tr>
            <th>user_name</th>
            <td>Your GitHub user name</td>
        </tr>
        <tr>
            <th>repo_name</th>
            <td>A GitHub repo name</td>
        </tr>
        <tr>
            <th>feature_set_name</th>
            <td>A file in your repo that contains GeoJSON</td>
        </tr>
    </tbody>
</table>

<p>From here, with no URL parameters, you'll just get a paginated list of features.</p>

<h3>Search by Bounding Box</h3>

<pre>http://gitspatial.com/:user_name/:repo_name/:feature_set_name?bbox=:xmin,:ymin,:ymax,:ymax</pre>

<h4>Parameters</h4>

<table class="table table-bordered table-striped table-condensed">
    <tbody>
        <tr>
            <th>bbox</th>
            <td>The geographic bounding box to search for features in <code>xmin</code>, <code>ymin</code>, <code>mxax</code>, <code>ymax</code> (min longitude, min latitude, max longitude, max latitude) format</td>
        </tr>
    </tbody>
</table>

<h4>Example</h4>

<p>Find parks in a map window.</p>

<pre>http://gitspatial.com/api/v1/JasonSanford/mecklenburg-gis-opendata/parks?bbox=-80.8633,35.2071,-80.8158,35.2488</pre>

<h3>Search by Point and Radius</h3>

<pre>http://gitspatial.com/:user_name/:repo_name/:feature_set_name?lat=:latitude&lon=:longitude&distance=:distance</pre>

<table class="table table-bordered table-striped table-condensed">
    <tbody>
        <tr>
            <th>lat</th>
            <td>The latitude, or Y coordinate, for the point to search from</td>
        </tr>
        <tr>
            <th>lon</th>
            <td>The longitude, or X coordinate, for the point to search from</td>
        </tr>
        <tr>
            <th>distance</th>
            <td>Thie distance, in meters, to search for features</td>
        </tr>
    </tbody>
</table>

<h4>Example</h4>

<p>Find schools within 4,000 meters of a point.</p>

<pre>http://gitspatial.com/api/v1/JasonSanford/mecklenburg-gis-opendata/data/schools.geojson?lat=35.256&lon=-80.809&distance=4000</pre>

<h3>Other Parameters</h3>

<table class="table table-bordered table-striped table-condensed">
    <tbody>
        <tr>
            <th>limit</th>
            <td>The number of features to return. The default and maximum is 100. Use with <code>offset</code> for pagination.</td>
        </tr>
        <tr>
            <th>offset</th>
            <td>The number of features to skip</td>
        </tr>
    </tbody>
</table>

{% endblock %}