<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}GitSpatial{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/core.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 80px;
        padding-bottom: 40px;
      }
    </style>
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
    {% block css %}{% endblock %}
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner" style="padding: 10px;">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{% url 'home' %}">GitSpatial</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="{% url 'how_it_works' %}">How it Works</a></li>
                        <li><a href="{% url 'api_landing' %}">API</a></li>
                    </ul>
                    <ul class="nav pull-right">
                    {% if user.is_anonymous %}
                        <li>
                            <a href="" class="btn-large navbutton">sign up</a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}">login</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="">{{ extended_user.display_name }}</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">logout</a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
        <footer>
            <p>&copy; GitSpatial 2013</p>
        </footer>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}lib/bootstrap/js/bootstrap.min.js"></script>
    <script>
        window.gs = {
            STATIC_URL: '{{ STATIC_URL }}'
        };
    </script>
    {% block javascript %}{% endblock %}
</body>

</html>