{% extends 'base.html' %}

{% load keyvalue %}

{% block content %}
<h2 id="name" data-pk="{{ feature_set.id }}" data-original-title="Change feature set name" data-type="text" data-name="name" data-toggle="manual" data-url="{% url 'user_feature_set' feature_set.id %}" data-title="Change feature set name" style="display: inline;">{{feature_set.name}}</h2>
<a href="#" id="pencil">
    <i class="icon-pencil"></i>
</a>

<h3>{{count}} features</h3>

<div id="map-container"></div>

<div id="table-container">
    <table class="table table-striped table-bordered">
        <thead>
            {% for prop_key in prop_keys %}
            <th>{{ prop_key }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for feature in features %}
            <tr id="tr-{{ feature.id }}">
                {% for prop_key in prop_keys %}
                <td>{{ feature|keyvalue:prop_key }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="pagination pagination-centered">
    <ul>
        {% if previous_page_number %}
        <li><a href="?page={{ previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><a href="javascript:void(0);">&laquo;</a></li>
        {% endif %}

        {% for page in page_range %}
        <li class="{% if page == current_page %}active{% endif %}"><a href="?page={{ page }}">{{ page }}</a></li>
        {% endfor %}

        {% if next_page_number %}
        <li><a href="?page={{ next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><a href="javascript:void(0);">&raquo;</a></li>
        {% endif %}
    </ul>
</div>
<div style="text-align: center;">
<strong>{{ start_index }} - {{ end_index }}</strong> of {{ count }}
</div>
{% endblock %}

{% block javascript %}
<script>
gs.fs = {
    center: {
        lat: {{ center_lat }},
        lng: {{ center_lng }}
    },
    bounds: {{ bounds }}
}
gs.features = {{ geojson|safe }};
</script>
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script src="{{ STATIC_URL }}lib/bootstrap-editable/js/bootstrap-editable.js"></script>
<script src="{{ STATIC_URL }}js/user_feature_set.js"></script>
{% endblock %}

{% block css %}
<link href="{{ STATIC_URL }}lib/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
<link href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" rel="stylesheet">
<style type="text/css">
#map-container {
    height: 250px;
    margin-bottom: 15px;
}
#table-container {
    height: 250px;
    overflow: auto;
}
</style>
{% endblock %}